# folders
data
tests
notebooks
sandbox
ressources
# utils
.git
.github
.venv

# files
CHANGELOG.md
CONTRIBUTING.md
LICENSE
README.md
poetry.lock
pyproject.toml
requirements.dev.txt
.gitignore
*.pyc
.venvdocs/
